<!DOCTYPE html>
<html>

<head>
	<title>Page Title</title>
</head>

<body>

	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Gender</th>
				<th>Phone</th>
				<th>Location</th>
				<th>Rate Per Day</th>
				<th>Position</th>
				<th>Hire Date</th>
			</tr>
		</thead>
		<tbody>
			<tr>

				{% for id in empid %}
				{{id}}</br>
				{% endfor %}

				<!-- {% for nam in name %} -->
				{{nam}}</br>
				<!-- {% endfor %} -->

				<td>{{gender}}</td>
				<td>{{phone}}</td>
				<td>{{location}}</td>
				<td>{{rate}}</td>
				<td>{{position}}</td>
				<td>{{hire_date}}</td>
			</tr>

		</tbody>
	</table>

	{% for id in empid %}
	{{id}}</br>
	{% endfor %}
</body>

</html>